* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Courier;
}

header {
    width: 100%;
    height: 65px;
    
    background-color: bisque;
}

.header-wrapper {
    height: 100%;
    width: 95%;
    margin: 0 auto;

    display: flex;
    
    align-items: center;

    border: 1px solid red;
}

main {
    width: 95%;
    margin: 0 auto;
}

.dinau-entry {
    border: 1px solid red;;
}

table {
    width: 80%;
}

tr {
    background-color: aliceblue;
}

th {
    border: 1px solid blue;
}

td {
    text-align: center;
}


@media(min-width: 768px) {
    .header-wrapper {
        width: clamp(768px, 80%, 900px);
    }

    main {
        width: clamp(768px, 80%, 900px);
    }
}